# Secrets
Layover/Layover/Secrets.plist
Layover/Secrets.xcconfig

# Xcode
*.xcuserstate
*.xcuserdatad/
xcuserdata/
DerivedData/
build/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.moved-aside

# macOS
.DS_Store
